@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Mulish';
}
.container
{
    width: 85%;
    margin: 0 auto;

}
.flex {
    display: flex;
    align-items: center;
}



header {
    
    background-color: rgba(0, 0, 0, 1);
}

header .container {
justify-content: space-between;

}

ul {
    display: flex;
    gap:40px;
    
}

li a {
   color: white;
   
    font-size: 16px;
    font-weight: 700;
}




.buttons{
    display: flex;
    gap: 64px;
    justify-content: center;

}


.pc{
    background-color: rgba(241, 169, 0, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: 700;
    border: none;
    width: 235px;
    height: 73px;
}


.consul{
    border: none;
    font-size: 40px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 1);
color: white;
width: 235px;
height: 73px;
}


h1{
    font-size: 64px;
    font-weight: 700;
    padding: 31px 22px ;
    line-height: 77.48px;
    background-color: rgba(241, 169, 0, 0.33);
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-top: 53px;
}


section{
    background-image: url(logo.png);
background-repeat:no-repeat;
padding: 362px 0 142px;
background-size: cover;
}

h3{
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 76px;
    height: 15px;
    padding: 34px 44px 39px 14px;
}

.Internet{
    display: flex;
    justify-content: center;
}

.play{
    background-color: rgba(241, 169, 0, 1);
    width: 192px;
    height: 82px;
    font-weight: 700;
    font-size: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.img{
    margin: 35px 4px 14px 914px;
}

.links{
    display: flex;
    gap: 101px;
    justify-content: center;
    background-color: rgba(34, 34, 34, 1);
}

footer{
    background-color: #000000;
}

.foot{
    gap: 52px;
}

.containerr{
    justify-content:space-between;
}